// Fonts
$font-primary: Lora, sans-serif;
$font-secondary: 'PT Sans', serif;
$font-monospace: 'Fira Code', 'Inconsolata', 'DejaVu Mono', 'Consolas', 'SoAurce Code Pro', 'Fira Mono', 'menlo', 'Ubuntu Mono', monospace;

// Colors
$color-accent: #d4a259;
$gray-darkest: #1d1d1d;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
